<footer class="footer">
  <div class="footer-content">
    <div class="footer-top">
      <img src="/assets/logo-footer.png" alt="Surf Camp Logo" class="footer-logo" />
      <nav class="footer-top-nav">
        <a href="#" class="footer-link">the camp.</a>
        <a href="#" class="footer-link">the blog.</a>
        <a href="#" class="footer-link">the experience.</a>
        <a href="#" class="footer-link">the events.</a>
      </nav>
    </div>
    <div class="footer-bottom">
      <nav class="footer-bottom-nav">
          <p class="footer-text">Imprint</p>
          <p class="footer-text">Terms and Conditions</p>
          <p class="footer-text">Data Protection</p>
      </nav>
        <p class="footer-text footer-rights">© Sam’s Surfcamp - all rights reserved</p>
    </div>
  </div>
</footer>