<section class="blog-section">
  <h2 class="blog-title">the blog.</h2>
  <div class="blog-row">
    <div class="blog-img-block">
      <img src="/assets/fastTakeOff.png" alt="Fast Take Off" class="blog-img" />
      <p class="blog-img-title">3 tips for a super fast take off</p>
      <p class="blog-img-desc blog-img-desc2">Monday, June 05, 2023</p>
    </div>
    <div class="blog-img-block">
      <img src="/assets/stretching.png" alt="Stretching" class="blog-img" />
      <p class="blog-img-title">your perfect stretching routine<br>before your first<br>surfing session</p>
      <p class="blog-img-desc"><br><br>Monday, June 05, 2023</p>
    </div>
  </div>
  <div class="blog-row">
    <div class="blog-img-block">
      <img src="/assets/surfboard.png" alt="Surfboard" class="blog-img" />
      <p class="blog-img-title">surfboard shaping and design: behind the <br> scenes of crafting the perfect board</p>
      <p class="blog-img-desc">Sunday, June 04, 2023</p>
    </div>
    <div class="blog-img-block">
      <img src="/assets/surfing.png" alt="Surfing" class="blog-img" />
      <p class="blog-img-title">environmental awareness in surfing:<br> protecting our oceans and beaches</p>
      <p class="blog-img-desc">Saturday, June 03, 2023</p>
    </div>
  </div>
</section>
